*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html,
body{
    height: 100%;

}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    background-color: orange;
}

footer {
    text-align: center;

}

.fudes{
    width: 200px;
    height: 200px;
    border: 3px outset;
}

.food{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.mainContentContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 2rem;
}

.heading {
    text-align: center;
    height: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


table, th, td {
    border: 1px solid black;
    width: 100%;
}
