*{
  padding: 0;
  margin: 0;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* Add some content at the bottom of the video/page */
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
  }

  .content > h1{
    font-size: 5em;
    margin-bottom: 1rem;
  }

  /* Style the button used to pause/play the video */
  #heroBtn {
    box-shadow: inset 0px 3px 3px red;
    width: 180px;
    font-size: 18px;
    padding: 3px;
    border: none;
    background: tan;
    color: #fff;
    cursor: pointer;
    border-radius: 5px 5px 15px 15px;
  }

  #heroBtn:hover {
    background: #ddd;
    color: black;
  }

  button {
    animation: wiggle 2s linear infinite;
  }

  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
